html
{
	text-align:center;
	background:#FFF;
	color:#2A3E2F;
}
body
{
	max-width:1200px;
	margin:0 auto;
}
table
{
	margin:0;
}
th, td
{
	padding:0;
	vertical-align:middle;
}
input, textarea, select
{
	border:1px solid #489634;
	border-radius:5px;
	color:#555555;
}
p
{
	border-radius:4px;
}
p:hover input, p:hover textarea, p:hover select, input:focus, textarea:focus, select:focus
{
	border-color:#72BA84;
	color:black;
}
input[type="button"], input[type="submit"], input[type="reset"]
{
	background:#EEF7EE;
	color:#595959;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover
{
	background:#EEF7EE;
	color:#767676;
}
a
{
	color:#53795D;
}
a:hover, a:focus
{
	color:#5F8A6B;
}
h1
{
	text-shadow:4px 4px 4px #E6EEE6;
}
h3, .group .settings h3
{
	height:25px;
	padding:0;
	font-size:13px !important;
	line-height:25px;
	background:url('./images/background_header_middle.png') repeat-x;
}
p:hover
{
	background:#EEF7EE;
}
form
{
	clear:both;
}
fieldset
{
	border:1px solid #E4E4E4;
}
fieldset:hover
{
	border-color:#AFAFAF;
}
fieldset:hover legend
{
	border-color:#AFAFAF;
}
fieldset dfn
{
	color:#4F6B91;
}
fieldset legend
{
	border:1px solid #E4E4E4;
	border-left:6px solid #E4E4E4;
	background:#F6F6F6;
}
fieldset legend:hover, .expanded legend
{
	border-left:8px solid #B4B4B4;
}
fieldset legend:hover
{
	color:#8EB3C1;
}
hr
{
	border:1px solid #98D0A7;
}
small.user
{
	background:url('../common/images/user.png');
}
small.online
{
	background:url('../common/images/online.png');
}
small.returns
{
	background:url('../common/images/returns.png');
}
small.robot
{
	background:url('../common/images/robot.png');
}
.user td, .online td, .returns td, .robot td
{
	background:inherit;
}
.user td p
{
	background-image:url('../common/images/user.png');
}
.online td p
{
	background-image:url('../common/images/online.png');
}
.returns td p
{
	background-image:url('../common/images/returns.png');
}
.robot td p
{
	background-image:url('../common/images/robot.png');
}
.error, .success, .warning, .information
{
	border-radius:10px;
}
.header_left, .header_right
{
	display:block;
	width:10px;
	height:25px;
	float:left;
	background:url('./images/background_header_left.png') no-repeat;
}
.header_right
{
	float:right;
	background:url('./images/background_header_right.png') no-repeat;
}
.group
{
	margin:3px;
	background:url('./images/background_group_border_left.png') repeat-y left;
}
.group table, .time > table
{
	background:url('./images/background_group_border_right.png') repeat-y right;
}
.group tr:first-child th
{
	height:32px;
	position:relative;
	line-height:26px;
}
.group td p
{
	height:100%;
	margin:2px;
	padding:2px;
	clear:none;
	overflow:visible;
	text-align:inherit;
}
.group tr:nth-child(odd) p, .time .summary tr:nth-child(odd) p
{
	background-color:#EEF7EE;
}
.group tr:hover p, .time .summary tr:hover p
{
	background-color:#CDEBD4 !important;
}
.group tr:hover .settings p
{
	background-color:inherit !important;
}
.group tr:hover .settings p:hover
{
	background-color:#EEF7EE !important;
}
.group tr td:first-child, .group tr th:first-child
{
	width:auto !important;
	padding-left:8px !important;
}
.group tr td:last-child
{
	padding-right:8px !important;
}
.group tr:first-child, .time .title
{
	background:url('./images/background_group_header_middle.png') repeat-x;
}
.group tr:first-child th:first-child
{
	text-align:left;
	background:url('./images/background_group_header_left.png') no-repeat left top;
}
.group tr:first-child th:last-child
{
	background:url('./images/background_group_header_right.png') no-repeat right top;
}
.group .corner_left_top, .time .corner_left_top
{
	width:15px;
	height:32px;
	text-align:left;
}
.group .border_bottom, .time .border_bottom
{
	height:8px;
	background:url('./images/background_group_border_bottom.png') repeat-x;
}
.group .corner_left, .group .corner_right, .time .corner_left, .time .corner_right
{
	display:block;
	width:9px;
	height:8px;
	float:left;
	background:url('./images/background_group_corner_left.png') no-repeat;
}
.group .corner_right, .time .corner_right
{
	float:right;
	background:url('./images/background_group_corner_right.png') no-repeat;
}
.group .settings p:hover
{
	background-color:#EEF7EE !important;
}
.group .settings:first-child
{
	padding-right:8px !important;
	padding-left:8px !important;
}
.group .settings p
{
	height:auto;
	overflow:auto;
	text-align:left;
	background:inherit !important;
}
.group .icon, .time .icon
{
	position:absolute;
	z-index:2;
	opacity:0.9;
}
.group .icon_wrapper
{
	float:left;
}
.group .title
{
	padding:0 25px 0 0;
}
.group .title a
{
	color:#2A3E2F;
}
.group .title a:hover, .group .title a:focus
{
	color:#53795D;
}
.group .bar span
{
	display:block;
	width:200px;
	height:10px;
	margin:2px 3px;
	border:1px solid #CDEBD4;
	float:left;
	text-align:right;
	background:#EEF7EE;
}
.group .bar span img
{
	height:10px;
	margin:0;
	border-right:1px solid #CDEBD4;
	float:left;
	background:#98D0A7 !important;
}
.group td img
{
	margin:1px 3px -4px 2px;
}
.time
{
	width:766px;
	margin:30px auto;
	background:url('./images/background_group_border_left.png') repeat-y left;
}
.time .title
{
	height:32px;
	position:relative;
	line-height:26px;
}
.time h3
{
	margin:auto 8px;
}
.time .corner_left_top
{
	width:15px;
	height:32px;
	text-align:left;
	background:url('./images/background_group_header_left.png') no-repeat left top;
}
.time .corner_right_top
{
	width:15px;
	height:32px;
	background:url('./images/background_group_header_right.png') no-repeat right top;
}
.time .chart
{
	width:750px;
	margin:2px 8px;
	background:url('./images/background_chart.png');
}
.time .chart td:hover span, .tooltip:hover span
{
	border:1px solid #CDEBD4;
	background:#EEF7EE;
}
.time .chart td
{
	border:1px solid #EBF1E9;
	background:url('./images/background_chart_lines.png') repeat-x;
}
.time .chart td div div
{
	border:1px solid #CDEBD4;
	border-bottom:0;
}
.time .chart td div.maximum
{
	border-color:#53795D;
}
.time .chart td div.active, .time .chart td div div:hover
{
	border-color:red;
	opacity:0.2;
}
.time .chart td:hover div
{
	opacity:0.7;
}
.time .chart tbody th
{
	background:#EEF7EE;
}
.time .chart tbody th em
{
	font-style:italic;
	color:#92A094;
}
.time .footer th
{
	border:1px solid #EEF7EE;
	border-width:0 1px;
	background:#E6EEE6;
}
.time .summary
{
	width:750px;
	margin:2px 8px;
}
.time .summary th:first-child p
{
	margin:4px 1px 2px 8px;
}
.time .summary th:last-child p
{
	margin:4px 8px 1px 2px;
}
.time .summary th p
{
	text-align:center;
	background:#E6EEE6 !important;
}
.time .summary td:hover p
{
	background:#EEF7EE !important;
}
.time .summary p
{
	text-align:center;
}
.time .levels hr
{
	opacity:0.2 !important;
}
.time .levels hr:hover, .time .levels hr.active
{
	border-width:2px 1px !important;
	opacity:0.8 !important;
}
.time .scale
{
	min-width:45px;
}
.time .actions td
{
	cursor:pointer;
}
.collapsed legend
{
	border-left:6px solid #E4E4E4;
}
.maptooltip
{
	border:1px solid #7DC86B;
	border-radius:4px;
	background:#EEF7EE;
}
.tooltip
{
	line-height:15px !important;
	color:#53795D;
}
.legend
{
	display:block;
	width:16px;
	height:16px;
	float:left;
}
#background_left, #background_right
{
	min-height:100%;
	text-align:left;
}
#background_left
{
	min-width:960px;
	max-width:1400px;
	padding:0 0 0 50px;
	background:url('./images/background_page_left.png') repeat-y left;
}
#background_right
{
	padding:0 50px 0 0;
	background:url('./images/background_page_right.png') repeat-y right;
}
#content
{
	margin:0 5px;
	padding:0 0 100px 0;
	position:relative;
}
#header
{
	margin:0 -5px;
	background:url('./images/background_top.png') repeat-x top;
}
#logo
{
	margin:5px 8px 1px 10px;
	float:left;
}
#menu
{
	height:72px;
	margin:5px -2px;
	background:url('./images/background_menu.png');
}
#menu > li
{
	height:50px;
	margin:12px 0;
	padding:0 3px !important;
	border-right:1px solid #CDEBD4;
}
#menu li img
{
	margin:-3px 4px -11px 0;
}
#menu > li > a
{
	display:block;
	height:50px;
	margin:0;
	padding:13px 0 0 0;
	line-height:30px;
	white-space:nowrap;
}
#menu .menu_entry_left
{
	display:block;
	width:15px;
	height:50px;
	margin:-13px 0 0 0;
	float:left;
}
#menu .menu_entry_right
{
	display:block;
	height:50px;
	margin:0;
}
#menu > li > a.active
{
	text-shadow:0 0 4px #7DC86B;
	background:url('./images/background_menu_entry_selected_middle.png') repeat-x 0 13px;
}
#menu > li > a.active .menu_entry_left
{
	background:url('./images/background_menu_entry_selected_left.png') no-repeat left 13px;
}
#menu > li > a.active .menu_entry_right
{
	background:url('./images/background_menu_entry_selected_right.png') no-repeat top right;
}
#menu > li > a:hover, #menu > li > a:focus
{
	text-shadow:0 0 6px #7DC86B;
	background:url('./images/background_menu_entry_active_middle.png') repeat-x 0 13px;
}
#menu > li > a:hover .menu_entry_left, #menu > li > a:focus .menu_entry_left
{
	background:url('./images/background_menu_entry_active_left.png') no-repeat left 13px;
}
#menu > li > a:hover .menu_entry_right, #menu > li > a:focus .menu_entry_right
{
	background:url('./images/background_menu_entry_active_right.png') no-repeat top right;
}
#menu > li.submenu:hover > a, #menu > li.submenu:focus > a
{
	background:url('./images/background_menu_entry_active_middle_submenu.png') repeat-x;
}
#menu > li.submenu:hover > a .menu_entry_left, #menu > li.submenu:focus > a .menu_entry_left
{
	background:url('./images/background_menu_entry_active_left_submenu.png') no-repeat top left;
}
#menu > li.submenu:hover > a .menu_entry_right, #menu > li.submenu:focus > a .menu_entry_right
{
	margin:-13px 0 0 0;
	padding:13px 0 0 0;
	background:url('./images/background_menu_entry_active_right_submenu.png') no-repeat top right;
}
#menu ul
{
	width:100%;
	margin:-13px 0 0 0;
	padding:5px 0;
	left:0;
	border-bottom:1px solid #98D0A7;
	background:url('./images/background_submenu.png');
}
#menu ul li
{
	margin:0;
	padding:0;
	float:left !important;
}
#menu ul a
{
	height:25px;
	margin:1px 0;
	padding:0 !important;
	font-size:10px;
	font-style:normal;
	line-height:25px;
	color:#2A3E2F;
}
#menu ul li img
{
	height:16px;
	margin:4px 2px 2px -14px;
	float:left;
}
#menu .submenu_entry_left
{
	display:block;
	width:5px;
	height:25px;
	margin:0 0 0 -6px;
	float:left;
}
#menu .submenu_entry_right
{
	display:block;
}
#menu ul a.active
{
	font-weight:bold;
	background:url('./images/background_submenu_entry_selected_middle.png') repeat-x;
}
#menu ul a.active .submenu_entry_left, #menu ul a.active .submenu_entry_left
{
	background:url('./images/background_submenu_entry_selected_left.png') no-repeat left;
}
#menu ul a.active .submenu_entry_right, #menu ul a.active .submenu_entry_right
{
	background:url('./images/background_submenu_entry_selected_right.png') no-repeat right;
}
#menu ul a:hover, #menu ul a:focus
{
	background:url('./images/background_submenu_entry_active_middle.png') repeat-x;
}
#menu ul a:hover .submenu_entry_left, #menu ul a:focus .submenu_entry_left
{
	background:url('./images/background_submenu_entry_active_left.png') no-repeat left;
}
#menu ul a:hover .submenu_entry_right, #menu ul a:focus .submenu_entry_right
{
	background:url('./images/background_submenu_entry_active_right.png') no-repeat right;
}
#menu a:hover img, #menu a:focus img
{
	opacity:0.8;
}
#footer
{
	width:100%;
	padding:10px 0 0 0;
	border-top:1px dashed #98D0A7;
	left:0;
	text-align:center;
}
#footer div
{
	width:200px;
	float:left;
	text-align:left;
	text-indent:3px;
}
#gototop
{
	width:20px;
	height:20px;
	background:url('./images/background_gototop.png') no-repeat;
}
a#gototop:hover, a#gototop:focus
{
	background:url('./images/background_gototop_active.png');
}
#visits td p
{
	height:30px;
}
#visits .configuration
{
	line-height:30px;
}
#details th, #details td
{
	padding:0;
}
#details th
{
	text-align:center !important;
}
#details td
{
	width:50% !important;
	padding:0 8px 0 10px !important;
	text-align:left;
}
#details th p
{
	text-align:right !important;
}
#details th p, #details td p
{
	margin:3px;
	line-height:16px;
}
#details .corner_left_top
{
	display:block;
	margin:0 0 0 -8px;
	padding:0 0 0 8px;
	float:left;
	background:url('./images/background_group_header_left.png') no-repeat left top;
}
#search
{
	border-bottom:1px solid #CDEBD4;
	background:#EEF7EE;
}
#group table table tr
{
	background:inherit;
}
#group table table
{
	background:inherit;
}
#group tr:hover p
{
	background-color:inherit !important;
}
#group table table tr:nth-child(odd) p
{
	background-color:#EEF7EE !important;
}
#group table table tr:hover p
{
	background-color:#CDEBD4 !important;
}
#group tr .settings p
{
	background-color:inherit !important;
}
#group tr:hover .settings p:hover
{
	background-color:#EEF7EE !important;
}
#group .pie
{
	padding:50px 2px;
}
#group .title
{
	text-align:center;
}
#group .configure, .group .configure
{
	margin:5px 0 !important;
	float:right;
	cursor:pointer;
}
#group .configure:hover, .group .configure:hover
{
	opacity:0.7;
}
#group .icon_wrapper
{
	display:block;
	width:15px;
	height:32px;
	margin:0 0 0 -8px;
	padding:0 0 0 8px;
	float:left;
	background:url('./images/background_group_header_left.png') no-repeat left top;
}
#geolocationmap
{
	border:3px dashed #53795D;
	background:white;
}
